{% extends 'layout.html' %}

{% block body%}
    <div class="container">
    {% for item in share_codes_data %}
        {% if item['unique_id'] == unique_id %}
            <div class="container row row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <img src="{{ item['preview_img_url'] }}" class="img-fluid border rounded-3 shadow-lg mb-4" width="500" height="500" loading="lazy" />
                </div>
                <div class="col">
                    <p>ID: {{ item['unique_id'] }}</p>
                    <p>Game: {{ item['game'] }}</p>
                    <p>Share Code: {{ item['code'] }}</p>
                    <p>Title: {{ item['title'] }}</p>
                    <p>Description: {{ item['description'] }}</p>
                    <p>Author: {{ item['author'] }}</p>
                    <p>Date: {{ item['date'] }}</p>
                    <p>Upvotes: {{ item['upvotes'] }}</p>
                    <p>Downvotes: {{ item['downvotes'] }}</p>
                    <p>Views: {{ item['views'] }}</p>
                </div>
                <div class="col">
                    <iframe width="420" height="315" src="{{ 'https://youtube.com/embed/'+item['embed_yt_url'][32:] }}"></iframe>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}