{% extends 'layout.html' %}

{% block body%}
<div class="px-1 pt-1 my-1 text-center">
  <h1 class="display-4 fw-bold">Forza Horizon Share-Codes</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Quickly share and explore the vast and beautiful world of Forza Horizon with user-made routes, tracks, liveries, tunes etc.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="/explore"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Explore</button></a>
    </div>
  </div>
  <div class="container">
    <div class="container px-5 mb-4">
      <img src="/static/images/fh4/{{rand_img_fh4}}" class="mb-4 img-fluid border rounded-3 shadow-lg" alt="Example image" width="500" height="500" loading="lazy">
      <img src="/static/images/fh5/{{rand_img_fh5}}" class="mb-4 img-fluid border rounded-3 shadow-lg" alt="Example image" width="500" height="500" loading="lazy">
    </div>
  </div>
</div>
{% endblock %}