{% extends 'layout.html' %}

{% block body%}

    {% if session.logged_in %}
        <div class="container">
            <div class="container p-5 mb-4 bg-light rounded-3"> 
                <img src="{{ session['user_data']['picture'] }}" alt="Google profile pic"></img>
                <p class="display-5 fw-bold">{{ session['user_data']['users_name'] }}</p>
                <p class="col-md-8">Creations: 61</p>
                <p class="col-md-8">Followers: 584</p>
                <p class="col-md-8">Following: 12</p>
            </div>
        </div>
        <div class="container">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <p class="display-6">My Submissions</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Share code</th>
                            <th scope="col">Title</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in user_submitted_share_codes %}
                        <tr>
                            <td>{{ result['share_code'] }}</td>
                            <td>{{ result['title'] }}</td>
                            <td><a href="/view/{{ result['game'] }}/{{ result['share_code'] }}">more details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <p class="display-6">My Bookmarks</p>
                <p class="col-md-8">Creations: 61</p>
                <p class="col-md-8">Followers: 584</p>
                <p class="col-md-8">Following: 12</p>
            </div>
        </div>
    {% else %}
        <div class="container">
            <p> Please <a href="/authenticate">click here and authenticate</a>, to view your profile</p>
        </div>
    {% endif %}

{% endblock %}