<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <p><span class="text-muted">Built with Python, Flask, Firebase and Bootstrap</span></p>
    <p>
      <span><a href="https://github.com/sarathsajan" class="container text-decoration-none"><i class="bi-github"></i></a></span>
      <span><a href="https://www.youtube.com/channel/UCIm5or7k0RwXyqRo9NQU-rg" class="container text-decoration-none"><i class="bi bi-youtube"></i></a></span>
      <span><a href="https://twitter.com/sarath__sajan" class="container text-decoration-none"><i class="bi bi-twitter"></i></a></span>
      <span><a href="https://www.linkedin.com/in/sarathsajan/" class="container text-decoration-none"><i class="bi bi-linkedin"></i></a></span>
      <span><a href="https://www.instagram.com/sarathsajan_/" class="container text-decoration-none"><i class="bi bi-instagram"></i></a></span>
    </p>
  </div>
</footer>