  <nav class="navbar navbar-expand-sm navbar-light bg-light" aria-label="Eighth navbar example">
    <div class="container">
      <a class="navbar-brand" href="#"><strong>FHSC</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/find">Find</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/submit">Submit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://github.com/sarathsajan/webapp-share-codes">Github Repo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
        <form data-dashlane-rid="7d1fc71a68148621">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" data-dashlane-rid="648ae5101aff869e">
        </form>
      </div>
    </div>
  </nav>